header {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  border-bottom:  1px solid rgb(226, 226, 226);
  position: relative;
  z-index: 90;
}

ul {
  list-style: none;
  display: flex;
  & li {
    margin: 0 2px;
  }
}

.menu-item .modal_submenu {
  position: absolute;
  border-radius: 0 0 10px 10px;
  background-color: white;
  box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.20);
  transition: all 0.3s ease;
  display: flex;
  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    & li {
      padding: 2px 4px;
    }

  }
}

.menu-item .modal_submenu{
  display: none;
}

.menu-item:hover .modal_submenu{
  display: block;
}



@media (max-width: 480px) {


  header {
    width: 100%;
    justify-content: left;
    overflow-x: scroll;
  }

  header::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  header::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
  }

  header::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
  }

  header::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
  }

  .menu-item .modal_submenu {
    z-index: 90;
  }


}

@media (max-width: 767px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}
