@if (showRegistro) {
  <div class="modal-registro">
    <app-registrar-cita-page
      (cerrarComponenteEvent)="mostrarComponente()"
    />
  </div>
}


<div class="container-cita">
  <div class="container-cita_lista-vehiculos">
    <div class="container-cita_lista-vehiculos_items-container">
      <header>
        <h1>AUTOS {{userNombre}}</h1>
        <button><i class="uil uil-plus"></i> Nueva auto</button>
        <div class="buscar-dato">
          <div class="input-label">
            <label for="buscar">Buscar: </label>
            <input
              type="search"
              name=""
              id="buscar"
              placeholder="Ingresar datos a buscar"
            />
          </div>
          <button class="btn-buscar">
            <i class="uil uil-search"></i> Buscar
          </button>
        </div>
      </header>
      <ul class="container-cita_lista-vehiculos_items">
        @for (item of datosAutoslista; track $index) {
        <li>
          <div class="container-icon">
            <h4>{{ $index }}</h4>
            <div class="bg-icon">
              <i class="uil uil-car"></i>
            </div>
          </div>
          <div class="container-datos">
            <h4><span>Matrícula:</span>{{item.matricula}}</h4>
            <h4><span>Modelo:</span>{{item.idModeloFk.modelo}}</h4>
            <h4><span>Marca:</span>{{item.idModeloFk.idMarcaFK.marca}}</h4>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="container-cita_estado-reservacion">
    <div class="container-cita_estado-reservacion_citas">
      <header>
        <h1>Lista estado citas</h1>
        <div class="buscar-dato">
          <div class="input-label">
            <label for="buscar">Buscar: </label>
            <input
              type="search"
              name=""
              id="buscar"
              placeholder="Ingresar datos a buscar"
            />
          </div>
          <button class="btn-buscar">
            <i class="uil uil-search"></i> Buscar
          </button>
        </div>
        <button (click)="mostrarComponente()"><i class="uil uil-plus"></i> Nueva cita</button>
      </header>

      <div class="detaller-cita-general">
        <p>
          Cantidad: <span>{{ datosCitaslista.length }}</span>
        </p>
      </div>

      <ul class="container-cita_estado-reservacion_citas_tarjeta-container">
        @for (item of datosCitaslista; track $index) {
        <li>
          <div class="bg-encabezado-tarjeta">
            <div class="icono-foto-auto">
              <i class="uil uil-car"></i>
            </div>
          </div>
          <div class="informacion-auto-cita-container">
            <div class="informacion-auto-cita-container_superior">
              <div class="informacion-auto-cita-container_superior_izquierda">
                <h5>{{item.id_Auto_Fk.matricula}}</h5>
                <h5><span>Modelo:</span>{{item.id_Auto_Fk.idModeloFk.modelo}}</h5>
                <h5><span>Marca:</span>{{item.id_Auto_Fk.idModeloFk.idMarcaFK.marca}}</h5>
              </div>
              <div class="informacion-auto-cita-container_superior_derecha">
                <div class="container-estado ">En espera</div>
              </div>
            </div>
            <div class="informacion-auto-cita-container_inferior">
              <div class="container-detalles">
                <h4>Fecha</h4>
                <span>{{item.fecha}}</span>
              </div>
              <div class="container-detalles">
                <h4>Hora</h4>
                <span>{{item.hora}}</span>
              </div>
            </div>
          </div>
        </li>
        }
      </ul>
      <!-- <div class="paginacion">
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div> -->
    </div>
  </div>
</div>
