article {
  width: 100%;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}

aside {
  width: 20%;
}

app-header-movil-home {
  display: none;
}

main {
  width: 85%;
  position: relative;
}

.menu-descktop {
  width: 100%;
  height: 100%;
}

.menu-movil {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 99;
}



@media (max-width: 480px) {

  article {
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;

    & .menu-descktop {
      display: none;
    }
  }

  app-header-movil-home {
    height: 100%;
    display: block;
  }

  main {
    width: 100%;
  }

  menu-movil {
    display: block;
  }

}

@media (max-width: 767px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}
