.container-registrar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0px 4px 22px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  box-sizing: border-box;
}
.parte-superior {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  box-sizing: border-box;
  background-color: #0AB4D1;

  & h2 {
    width: 30rem;
    color: var(--color-principal-2);
    margin: 0;
  }

  & button {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
    border: none;
  }

  & button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
  }
}



.parte-inferior {
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 0px 0px;
  padding-bottom: 24px;
  overflow: auto;
  margin-top: 3rem;

  & h2 {
    margin: 0;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .grupo-inputs {
      margin: 0 24px;


      & .bg-input {
        width: 100%;
        margin: 12px 6px;
        position: relative;
        & .bg-label {
          width: 100%;
          text-align: left;
          display: flex;
          justify-content: space-between;
          align-items: center;

          & label {
            font-size: 12px;
            color: #888;
            transition: all 0.3s ease-out;
          }
        }

        & input {
          width: 100%;
          height: 36px;
          border-radius: 5px;
          outline: none;
          border: 1px solid #c2c2c2;
          padding-left: 8px;
          box-sizing: border-box;
        }

        & input::placeholder {
          color: #888;
        }

        & :hover .bg-label label {
          color: var(--color-principal-1);
          transition: all 0.3s ease;

        }

        & select {
          width: 100%;
          height: 2rem;
          border: 1px solid #c2c2c2;
          border-radius: 4px;
        }
      }
    }

  }

}

.container-registrar ::-webkit-scrollbar {
  width: 8px;
}

.container-registrar ::-webkit-scrollbar-track {
  background-color: var(--color-principal-3);
}

.container-registrar ::-webkit-scrollbar-thumb {
  background-color: var(--color-principal-6);
  border-radius: 4px;
}

.container-registrar ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-principal-6);
}

.container-grupos {
  width: 100%;
  justify-content: space-evenly;
}


.opciones-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-success {
  width: 50%;
  height: 36px;
  border-radius: 5px;
  color: var(--color-principal-2);
  border: none;
  background-color: var(--color-principal-1);
}

.btn-success:valid {
  background-color: var(--color-principal-1);
}

.btn-success:valid:hover {
  cursor: pointer;
  background-color: var(--color-principal-1_hover);
}


input.ng-invalid.ng-touched{
  border: 2px solid red !important;
}

input.ng-valid {
  border: 1px solid green !important;
}

.grupo-mensajes-error {
  display: flex;
  justify-content: center;
}

.input-estado {
  display: none;
}

.validacion-input {
  display: grid;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
  position: absolute;
  z-index: 1;
  background-color: white;
  margin-top: 4px;
  padding-right: 12px;
  opacity: 0;
  animation: aparecer 1s ease-in-out 0.3s forwards, desaparecer 2s ease-in-out 3.5s forwards;

  & .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 191, 16);
    position: absolute;
    top: -25%;
    left: 10px;
}
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-btn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown content when the dropdown container is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Show the dropdown content when the dropdown container is clicked */
.show {
  display: block;
}

@keyframes aparecer {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes desaparecer {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}



@media screen and (max-width: 480px) {
  .container-registrar {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0px 4px 22px 14px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    overflow: hidden;
  }

}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1920px) {

}
