

<!-- Card Section -->
<div class=" max-w-2xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="bg-white rounded-xl shadow p-4 sm:p-7">
    <div class="text-center mb-8">
      <h2 class="text-2xl md:text-3xl font-bold text-gray-800">
        REGISTRO CITA
      </h2>
      <p class="text-sm text-gray-600">
        Ingrese la información correspondiente para el registro de su solicitud
      </p>
    </div>

    <form (ngSubmit)="sendCita()" [formGroup]="formularioRegistro">
      <!-- Section -->
      <div
        class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200"
      >
        <label
          for="af-payment-billing-contact"
          class="inline-block text-sm font-medium"
        >
          Solicitud
        </label>

        <div class="mt-2 space-y-3">
          <input
            id="af-payment-billing-contact"
            formControlName="tipo_Consulta"
            [(ngModel)]="cita.tipo_Consulta"
            type="text"
            class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            placeholder="Tipo consulta"
          />
          <input
            formControlName="descripcion"
            [(ngModel)]="cita.descripcion"
            type="text"
            class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            placeholder="Descripción de la solicitud"
          />
        </div>
      </div>
      <!-- End Section -->

      <!-- Section -->
      <div
        class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200"
      >
        <label
          for="af-payment-billing-address"
          class="inline-block text-sm font-medium"
        >
          Fecha y Hora
        </label>

        <div class="mt-2 space-y-3">
          <div class="grid sm:flex gap-3">
            <input
              id="af-payment-billing-contact"
              type="date"
              formControlName="fecha"
              [(ngModel)]="cita.fecha"
              class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            />
            <input
              id="af-payment-billing-contact"
              type="time"
              formControlName="hora"
              [(ngModel)]="cita.hora"
              class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            />
          </div>
        </div>
      </div>
      <!-- End Section -->

      <div class="mt-2 space-y-3">

        <label
          for="af-payment-billing-address"
          class="inline-block text-sm font-medium"
        >
          Matricula Auto
        </label>
        <div class="grid sm:flex gap-3">
          <select
          formControlName="id_Auto_Fk"
          [(ngModel)]="cita.id_Auto_Fk.id_Auto"
            class="py-2 px-3 pe-9 block w-full border-gray-600 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          >
            @for (item of citasResponse; track $index) {
              <option [value]="item.id_Auto_Fk.id_Auto">{{item.id_Auto_Fk.matricula}}</option>
            }
          </select>
        </div>
      </div>

      <div class="mt-2 space-y-3">
        <label
        for="af-payment-billing-address"
        class="inline-block text-sm font-medium"
      >
        Chofer
      </label>
        <div class="grid sm:flex gap-3">
          <select
            formControlName="id_Chofer_Fk"
            [(ngModel)]="cita.id_Chofer_Fk.id_Chofer"
            class="py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          >
            @for (item of datosChofereslista; track $index) {
              <option>{{item.nombres}} {{item.apellidos}}</option>
            }

          </select>
        </div>
      </div>
      <!-- End Section -->
    </form>

    <div class="mt-5 flex justify-end gap-x-2">
      <button
        (click)="cerrarComponente()"
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
      >
        Cancel
      </button>
      <button
        type="button"
        [disabled]="!formularioRegistro.valid"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
      >
        Guardar
      </button>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->
