<div class="bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 min-h-screen flex flex-col items-center py-10 relative">
  <!-- Encabezado del Usuario -->
  <div class="absolute top-4 left-4 flex items-center glass-effect p-3 rounded-full shadow-md">
    <img [src]="loggedInUser.avatar" alt="User Avatar" class="w-10 h-10 rounded-full mr-3">
    <span class="text-lg font-semibold text-white">{{ loggedInUser.username }}</span>
  </div>

  <!-- Botón de Salir -->
  <button
    (click)="volverOpcionesClase()"
    class="absolute top-4 right-4 py-2 px-4 bg-white bg-opacity-30 text-white font-semibold rounded-full shadow-md hover:bg-opacity-50 focus:outline-none focus:ring-2 focus:ring-purple-500 glass-effect">
    Back
  </button>

  <!-- Título Principal -->
  <h1 class="text-5xl font-bold text-white mb-10">
    Empareja las Imágenes con las Palabras
  </h1>

  <!-- Contenido Principal -->
  <div class="flex flex-wrap w-full max-w-6xl gap-8">
    <!-- Columna de Imágenes -->
    <div class="flex-1 p-4">
      <div
        class="draggable border-2 border-gray-300 rounded-lg p-2 cursor-pointer mb-4 flex items-center justify-center"
        *ngFor="let item of items; let i = index"
        (dragstart)="onDragStart($event, i)"
        draggable="true"
      >
        <img [src]="item.image" alt="Imagen {{ i + 1 }}" class="w-32 h-32 object-cover rounded-lg" />
      </div>
    </div>

    <!-- Columna de Palabras -->
    <div class="flex-1 p-4">
      <div
        class="drop-zone-container mb-4"
        *ngFor="let item of items; let i = index"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, i)"
      >
        <div class="drop-zone relative border-2 border-dashed border-gray-300 rounded-lg p-4 bg-opacity-30 flex items-center justify-center">
          <p class="word-card text-center text-white bg-opacity-50 rounded-lg p-2">
            {{ item.word }}
          </p>
          <!-- Imagen se coloca encima de la palabra cuando es emparejada -->
          <img *ngIf="item.matchedIndex !== null" [src]="items[item.matchedIndex].image" alt="Imagen {{ item.matchedIndex + 1 }}" class="matched-image" />
        </div>
      </div>
    </div>
  </div>

  <!-- Botón de Verificar Respuestas -->
  <button
    (click)="checkAnswers()"
    class="py-3 px-6 bg-pink-500 text-white text-lg font-semibold rounded-full shadow-md hover:bg-pink-600 focus:outline-none focus:ring-2 focus:ring-pink-500 mt-10"
  >
    Verificar Respuestas
  </button>
</div>
