header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;

  & h1 {
    color: #5C6164;
    font-size: 24px;
  }

  .buscar-dato {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;

    & .input-label {
      display: flex;
      flex-direction: column;

      & label {
        font-size: 12px;
        color: #0AB4D1;
      }

      & input {
        width: 300px;
        height: 32px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 0 12px;
        caret-color: #0AB4D1;

        &:focus {
          border-color: #0AB4D1;
          outline: none;
        }
      }
    }

  }

  & button {
    min-width: 100px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: rgba(10, 180, 209, 1);
    transition: all 0.3s ease;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &:hover {
      transition: all 0.3s ease;
      cursor: pointer;
      background-color: rgb(11, 132, 153);
    }

    & i {
      font-size: 16px;

    }
  }
}
